<div class="chat-main-block">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card border-0">
          <div class="card-header bg-primary text-white fs-4 fw-bold">
            KPI Notes
          </div>

          <div class="card-body messages-container">
            <div *ngFor="let message of messages" class="message-item">
              <div class="message-content">
                <div class="chat-date-block">
                  <span
                    class="message-sender"
                    [style.color]="message.profileColor"
                  >
                    <img src="../../assets/avatar1.png" /> {{ message.sender }}:
                  </span>
                  <span class="message-text">{{ message.content }} </span>
                </div>

                <small class="message-timestamp text-muted">{{
                  message.timestamp | date : "dd/MM/yyyy: HH:mm"
                }}</small>
              </div>
            </div>
          </div>

          <div class="card-footer message-input">
            <textarea
              [(ngModel)]="newMessageContent"
              placeholder="Type your message..."
              required=""
              class="form-control"
            ></textarea>
            <button
              (click)="sendMessage(newMessageContent)"
              class="btn btn-primary"
            >
              Send
            </button>
          </div>
          <div class="card-footer text-center">
            <div class="pagination-container">
              <button
                (click)="loadPreviousPage()"
                class="btn btn-primary"
                [disabled]="currentPage === 1"
              >
                Previous
              </button>
              <span class="px-3">{{ currentPage }}</span>
              <button
                (click)="loadNextPage()"
                class="btn btn-primary"
                [disabled]="!(currentPage * pageSize < totalMessages)"
              >
                Next
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
